<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/mainmenu.ejs') %>
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure, unde quae mollitia numquam
                voluptatem.
                Deleniti laborum impedit iure placeat tempore officiis culpa necessitatibus vero animi veritatis. Libero
                enim
                similique dignissimos, rerum cum nesciunt, quis quasi perspiciatis dolorem at, aspernatur blanditiis
                soluta
                illum. Ut, explicabo iste nulla ipsam eligendi tenetur?</p>
    </body>

</html>