<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS: Simple Server - About</title>
</head>

<body>
    <a href="/">Blog</a> | <a href="/about">About</a> | <a href="/blog/create">Create Blog</a>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure, unde quae mollitia numquam voluptatem.
        Deleniti laborum impedit iure placeat tempore officiis culpa necessitatibus vero animi veritatis. Libero enim
        similique dignissimos, rerum cum nesciunt, quis quasi perspiciatis dolorem at, aspernatur blanditiis soluta
        illum. Ut, explicabo iste nulla ipsam eligendi tenetur?</p>
</body>

</html>